<h1>Hello World!</h1>

<% Post.all.each do |post| %>
<ul>
    <li>
        <h2><%= post.author %></h2>
        <p><%= post.title %></p>
        <p><%= post.content%></p>
    </li>
</ul>
<% end %>

<% if user_signed_in? %>
    <%= link_to "Create new post", new_post_path %>
    <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
<% else %>
    <%= link_to "Login", new_user_session_path %>
<% end %>
