<h1>Create Post</h1>

<%= form_with model: @post do |f| %>
<div class="author">
    <%= f.label :author %>
    <%= f.text_field :author %>
</div>

<div class="content">
    <%= f.label :content %>
    <%= f.text_area :content, size: "20x30" %>
</div>
<%= f.submit %>
<% end %>